.jumbotron {
	background-image: url("background.jpg");
	height: 475px;
	border: 1px solid black;
	}

h3 {
	color: white;
	font-family: sans-serif;
}

h2 {
	text-align: left;
	color: white;
	margin-left: 35%;
	margin-top: 10%;
	font-family: sans-serif;
}

.social {
	float: right;
	left: 500px;
}

.social img {
	height: 30px;
	width: 30px;
	padding: 1px;
}

.social li {
	display: inline-block;
}

#title {
	font-family: sans-serif;
}